
# The ID of the Principal (User, Group or Service Principal) to assign the Role Definition to.
principal_id = ""

role_definition_ids = ""
scopes              = ""

# The Subscription ID which should be used.
subscription_id = ""