
# One or more Allowed Actions.
actions = ""

app_id = ""

# One or more Allowed Data Actions.
data_actions = ""

env_id = ""

# Specifies the Name for created resources. (Leave empty for the default one)
name = ""

# Specifies the prefix used in default name for created resources.
prefix = "hum-rp-mysql-ex-"

res_id = ""

# The scope at which the Role Definition applies to.
scope = ""

# The Subscription ID which should be used.
subscription_id = ""