
# The Administrator login for the PostgreSQL Flexible Server.
administrator_login = ""

# The Password associated with the administrator_login for the PostgreSQL Flexible Server.
administrator_password = ""

# Specifies the name for the created database
database_name = ""

# The private IP address of the PostgreSQL Flexible Server Database
host = ""

res_id = ""

# The ID of the Azure PostgreSQL Flexible Server from which to create this PostgreSQL Flexible Server Database
server_id = ""

# The Subscription ID which should be used.
subscription_id = ""