
# One or more Allowed Actions.
actions = ""

# Append Terraform logs to error messages.
append_logs_to_error = false

# One or more Allowed Data Actions.
data_actions = ""

# The ID of the Resource Account which should be used.
driver_account = ""

# Specifies the Name for created resources. (Leave empty for the default one)
name = ""

# Specifies the prefix used in default name for created resources.
prefix = "hum-rp-service-bus-ex-"

# Azure Resource Pack git branch.
resource_packs_azure_rev = "refs/heads/main"

# Azure Resource Pack git url.
resource_packs_azure_url = "https://github.com/humanitec-architecture/resource-packs-azure.git"

# The scope at which the Role Assignment applies to.
scope = ""

# The Subscription ID which should be used.
subscription_id = ""