app_id = ""

# The Access Level configured for this Container.
container_access_type = "private"

env_id = ""

# Specifies the Name for created resources. (Leave empty for the default one)
name = ""

# Specifies the prefix used in default name for created resources.
prefix = "hum-rp-blob-storage-ex-"

res_id = ""

# The Name of the Storage Account which should be used for the Container.
storage_account_name = ""

# The Subscription ID which should be used.
subscription_id = ""