
# The Client ID which should be used.
client_id = ""

# The Client Secret which should be used.
client_secret = ""

# The id of the hosted zone in which this record set will reside.
dns_zone = ""

# Prefix for all resources.
prefix = ""

# Specifies the Name of the Resource Group within which this dns will reside.
resource_group_name = ""

# Azure Resource Pack git branch.
resource_packs_azure_rev = "refs/heads/main"

# Azure Resource Pack git url.
resource_packs_azure_url = "https://github.com/humanitec-architecture/resource-packs-azure.git"

# The Subscription ID which should be used.
subscription_id = ""

# The Tenant ID which should be used.
tenant_id = ""