app_id = ""

# The Client ID which should be used.
client_id = ""

# The Client Secret which should be used.
client_secret = ""

env_id = ""

# Specifies the Name for created resources. (Leave empty for the default one)
name = ""

# Specifies the prefix used in default name for created resources.
prefix = "hum-rp-service-bus-ex-"

res_id = ""

# Specifies the Name of the Resource Group within which created resources will reside.
resource_group_name = ""

# Defines which tier to use.
sku = "Standard"

# The Subscription ID which should be used.
subscription_id = ""

# The Tenant ID which should be used.
tenant_id = ""