
# Append Terraform logs to error messages.
append_logs_to_error = false

# Specifies the audience for this Federated Identity Credential.
audience = ""

# The ID of the Resource Account which should be used.
driver_account = ""

# Specifies the issuer of this Federated Identity Credential.
issuer = ""

# Specifies the Name for created resources. (Leave empty for the default one)
name = ""

# Specifies parent ID of User Assigned Identity for this Federated Identity Credential.
parent_id = ""

# Specifies the prefix used in default name for created resources.
prefix = "hum-rp-service-bus-ex-"

# Specifies the Name of the Resource Group within which created resources will reside.
resource_group_name = ""

# Azure Resource Pack git branch.
resource_packs_azure_rev = "refs/heads/main"

# Azure Resource Pack git url.
resource_packs_azure_url = "https://github.com/humanitec-architecture/resource-packs-azure.git"

# Specifies the subject for this Federated Identity Credential.
subject = ""

# The Subscription ID which should be used.
subscription_id = ""

# Use terraform remote state.
terraform_state = ""